body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://netw20200.github.io/autoparts-search/images/1111.jpeg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}



header{
text-align:center;
margin-bottom:30px;
}

.search{
display:flex;
gap:10px;
justify-content:center;
margin-bottom:20px;
}

input{
width:300px;
padding:12px;
font-size:16px;
}

button{
padding:12px 25px;
font-size:16px;
cursor:pointer;
background:#1976d2;
color:white;
border:none;
border-radius:5px;
}

button:hover{
background:#125ea8;
}

#result{
max-width:900px;
margin:auto;
}

.card{
background:white;
padding:15px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,.15);
}

.card img{
max-width:250px;
display:block;
margin-top:10px;
}


/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
